<div class="navbar navbar-inverse">
  <h1 class="text-center">oAuth</h1>
</div>

<section class='container'>
<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <div><i class="fa fa-check-square-o fa-lg"></i>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  </div>
  <div><i class="fa fa-check-square-o fa-lg"></i>
    <%= link_to "Sign in with Vkontakte", "/auth/vkontakte" %>
  </div>
  <div><i class="fa fa-check-square-o fa-lg"></i>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
  </div>
  <div><i class="fa fa-check-square-o fa-lg"></i>
    <%= link_to "Sign in with Instagram", "/auth/instagram" %>
  </div>
  <div><i class="fa fa-check-square-o fa-lg"></i>
    <%= link_to "Sign in with Yandex", "/auth/yandex" %>
  </div>
  <div><i class="fa fa-square-o fa-lg"></i>
    <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
  </div>
<% end %>
</section>