<div class="navbar">
  <h1>About this project</h1>
</div>

<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
    <ul>
      <li><i class="fa fa-check-square-o fa-lg"></i>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <li><i class="fa fa-square-o fa-lg"></i>
        <%= link_to "Sign in with Vkontakte", "/auth/vkontakte" %>
      <li><i class="fa fa-check-square-o fa-lg"></i>
        <%= link_to "Sign in with Facebook", "/auth/facebook" %>
      <li><i class="fa fa-square-o fa-lg"></i>
        <%= link_to "Sign in with Instagram", "/auth/instagram" %>
      <li><i class="fa fa-check-square-o fa-lg"></i>
        <%= link_to "Sign in with Yandex", "/auth/yandex" %>
      <li><i class="fa fa-square-o fa-lg"></i>
        <%= link_to "Sign in with Mail.ru", "/auth/mailru" %>
    </ul>
<% end %>